* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:16px;
}

/* Dialog */

.todo-dialog {
    width: 320px;
}

.todo {
    width: 300px;
}

.todo-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.duedate-priority {
    display: flex;
    flex-direction: row;
}

.duedate-priority input,
.duedate-priority select {
    width: 150px;
}

.duedate-priority select {
    height: 21px;
}

.todo-buttons-container {
    display: flex;
    gap: 5px;
    justify-content: end;
    margin: 2px;
}

.title input,
.description textarea {
    width: 313px;
    border: 1px solid black;
}

/* page layout */

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 'sidebar main';
}

.sidebar {
  grid-area: sidebar;
}

.main {
  grid-area: main;
}