* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: black;
}

/* Dialog */

.todo-dialog {
    width: 320px;
}

.todo {
    width: 300px;
}

.todo-form {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.duedate-priority {
    display: flex;
    flex-direction: row;
}

.duedate-priority input,
.duedate-priority select {
    width: 150px;
}

.duedate-priority select {
    height: 21px;
}

.todo-buttons-container {
    display: flex;
    gap: 5px;
    justify-content: end;
    margin: 2px;
}

.title input,
.description textarea {
    width: 313px;
    border: 1px solid black;
}

/* page layout */

.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 'sidebar main';
  gap: 2px;
  background-color: gray;
  height: 100vh;
  margin: 0 200px;
}

.sidebar {
  grid-area: sidebar;
  background-color: white;
}

.main {
  grid-area: main;
  background-color: white;
}

/* sidebar */

.app-name {
    margin: 16px;
    font-size: 32px;
    font-weight: bold;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 16px;
}

.projects-container p {
    margin: 0;
    padding: 4px;
    font-size: 20px;
}

.projects-container a {
    color: black;
    text-decoration: none;
}

/* Main */

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.button-container {
    display: flex;
    align-items: center;
}

.add-todo {
    font-size: 1em;
    outline: none;
    border: 1px solid black;
    border-radius: 16px;
    padding: 4px 12px;
}

.todo-container {
    margin: 16px;
    display: flex;
    justify-content: space-between;
}

.todo-container p,
.todo-container h3{
    margin: 16px 0 16px 16px;
}

.priority {
    margin-top: 16px;
    margin-right: 16px;
    padding: 8px 16px;
    font-weight: bold;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 4px;
}